# The base URL of the deployed backend server.
# If left empty in production, it will automatically default to: https://erp-enia.onrender.com
# In local development, it will default to empty to utilize the Vite development proxy.
VITE_API_URL=https://erp-enia.onrender.com